<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>첫번째 매치</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <h2>Who is your favorite Star? (첫번째 매치)</h2>
        <form action="/star/1">
            <table border="1">
                <tr>
                    <th><img src="/lambo.png"></th> <th><img src="/optimus.png"></th>
                </tr>
    
                <tr>
                    <th><input type="radio" name="firstWinner" value="lambo">람보르기니</th> <th><input type="radio" name="firstWinner" value="optimus">옵티머스</th>
                </tr>
            </table>
            <p>
            <input type="submit" value="선택">
        </form>
    </div>
    
</body>
</html>