<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>두번째 매치</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <h2>Who is your favorite Star? (두번째 매치)</h2>
        <form action="/star/2">
            <table border="1">
                <tr>
                    <th><img src="/sunflower.png" alt="해바라기"></th> <th><img src="/maru.png" alt="마루"></th>
                </tr>
    
                <tr>
                    <th><input type="radio" name="secondWinner" value="sunflower">해바라기 by Van Gogh</th> <th><input type="radio" name="secondWinner" value="maru">마루</th>
                </tr>
            </table>
            <p>
            <input type="submit" value="선택">
        </form>
    </div>
    
</body>
</html>
