<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Surbey</title>
    <style>
        img {width:50px; height:50px;}
    </style>
</head>
<body>
    <h2>좋아하는 색깔</h2>
    <form method="post" action="/surbey2">
        <img src="red1.png">
        <input type="radio" name="color" value="빨간색">빨간색</input>
        <br>
        <img src="blue.png">
        <input type="radio" name="color" value="파란색">파란색</input>
        <p><p>
        <input type="submit" value="선택">
    </form>
</body>
</html>