<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>최종 설문 결과</title>
    <style>
        body {text-align: center;}
    </style>
</head>
<body>
    <h2>설문 결과</h2>

    <div align="center">
        <table border="1">
            <tr>
                <th>no</th>
                <th>설문자id</th>
                <th>화가</th>
                <th>음악가</th>
                <th>설문 일시</th>
            </tr>
            <tr th:each="a:${arr}">
                <td th:text="${a.no}"></td>
                <td th:text="${a.userid}"></td>
                <td th:text="${a.artist}"></td>
                <td th:text="${a.musician}"></td>
                <td th:text="${a.sdate}"></td>
            </tr>
        </table>
        <a href="/start">시작으로 돌아가기</a>
    </div>
    
</body>
</html>